<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodePen - A Pen by Mohithpoojary</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="~/dist/style.css">
	<link rel="stylesheet" href="~/src/style.css">

</head>
<body>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

</body>
</html>
