
@{
    ViewData["Title"] = "CreateRole";
}

@model CreateRoleDTO

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-black">Rol Ekle</h2>
                </div>
                <form asp-controller="Roles" asp-action="CreateRole">
                    <div class="card-body">
                        <div>
                            <label asp-for="Name" class="form-label">Rol Adı</label>
                            <input asp-for="Name" class="form-control" placeholder="Rol İsmi Giriniz.."/>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-outline-success float-end" value="Ekle"/>
                        <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-info float-start">Geri Dön</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
